@import "./vendor/reset"
@import "./components/RecipeIndex"
@import "./components/RecipeView"
@import url('https://fonts.googleapis.com/css?family=Lato')

$lato: lato, sans-serif

.container
  width: 100%
  height: 100vh
  display: grid
  grid-template-columns: 20rem 1fr

.header
  font-family: $lato
  font-size: 2rem