.modal
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.6)

.modal__contents
  @extend .card
  width: 50%
  height: 50%
  margin: 10rem auto
  grid-template-rows: 5rem 1fr 5rem
  background-color: white

.modal__header
  @extend .card__header
  justify-content: space-between
  & h1 
    @extend .card__title
  & button 
    @extend .button--no-border
    color: $light-green

.modal__body
  @extend .card__body