.recipe-view
  background-color: $green
  padding: 5rem 0 5rem 0
  display: flex
  align-items: center
  justify-content: center

.recipe-view__card
  @extend .card
  grid-template-rows: 5rem 1fr
  width: 90%
  height: 100%

.recipe-view__header
  @extend .card__header

.recipe-view__name
  @extend .card__title
  margin-right: 10px

.recipe-view__edit-name
  @extend .button--no-border
  color: $light-green

.recipe-view__contents
  background-color: white
  font-family: $lato
  color: black
  padding: 10px

.recipe-view__contents-header
  font-size: 1.5rem

.recipe-view__list
  margin-top: 1rem
  padding-left: 40px
  font-size: 1.2rem

.recipe-view__list--bullets
  list-style-type: disc

.recipe-view__list--numbered
  list-style-type: decimal

.recipe-view__list-item
  margin-top: 0.5rem

.recipe-view__list-item-contents
  margin-left: 10px
  display: flex
  & p 
    margin-right: 5px

.recipe-view__list-item-button
  @extend .button--no-border
  color: $grey

.recipe-view__add-list-item-button
  @extend .button--no-border
  display: flex
  align-items: center
  margin: 0.5rem 0 2rem 9px
  font-size: 1.2rem
  font-family: $lato
  color: $green
  & p 
    margin-left: 18px